*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}




/* Applying CSS-Grid for Grid Layouts */

.container{
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 3rem auto 3rem;
    grid-template-areas: 
    'm h h h h h h h h h h h'
    'm c c c c c c c c c c c'
    'm f f f f f f f f f f f';
}

.header{
    grid-area: h;
    background-color: #96ceb4;
}

.menu{
    grid-area: m;
    background-color:#ff6f69;
}

.content{
    grid-area: c;
    background-color: olivedrab;
}

.footer{
    grid-area: f;
    background-color: palegreen;
}

@media(max-width:768px){
    .container{
        width:100vw;
    }
}